node_modules/
tmp/
pb_data/
.env
pocket-react
dist/
pocket-react.exe
pocket-react
PocketReactInstaller.exe
build/

script.txt

# Obsidian - configuration locale de l'editeur, pas du projet
**/.obsidian/

server/config/config.php
