node_modules/
tmp/
pb_data/
.env
pocket-react
dist/
pocket-react.exe
pocket-react
PocketReactInstaller.exe
build/

script.txt
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Obsidian - etat de session, pas de configuration
.obsidian/workspace.json
.obsidian/workspace-mobile.json

**/.obsidian/workspace.json
**/.obsidian/graph.json
